body {
background-color: white;

}

.container {
display: inline-block;
width: 800px;
margin-top: 20px;
margin-left: calc( (100% - 800px) / 2);
/* background-color: grey; */
}

    header {
        display: inline-block;
        width: 100%;
    }
        .logo {
            display: inline-block;
            float: left;
            height: 60px;
        }
            nav {
                display: inline-block;
                float: right;
                font-size: 20px;
                margin-top: 16px;

            }
                a {
                    display: inline-block;
                    float: left;
                    font-size: 20px;
                    line-height: 20px;
                    margin-left: 20px;
                    color: #BCBCBC;
                    text-decoration: none;
            }
                    .btn {
                        border: 2px solid #BCBCBC;
                        border-radius: 20px;
                        padding: 2px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-top: -4px;
            
            }
    section {
        display: inline-block;
        width: 100%;
        margin-top: 80px;

    }
        div {
            display: inline-block;
            float: left;
            width: 42%;
            margin-left: 4%;
            margin-right: 4%;
        }
        h1 {
            display: inline-block;
            width: 100%;
            font-size: 70px;
            line-height: 70px;
            color: grey;


        }
        p {
            display: inline-block;
            width: 100%;
            color: #BCBCBC;
            font-size: 30px;
            line-height: 35px;
        }
        .inner-logo {
            display: inline-block;
            float: right;
            width: 42%;
            margin-left: 4%;
            margin-right: 4%;


        }